.van-nav-bar {
  height: 40px;
  background-color: #1989fa;
}
.van-nav-bar__title {
  line-height: 40px;
  color: #ffffff;
  font-size: 14px;
}
html,
body,
#app {
    height: 100%;
    overflow-x: hidden;
}
